@page
@model Capstone.Pages.Subevents.NewSubEventModel
@{
}

<link href="~/css/site.css" rel="stylesheet" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap" rel="stylesheet">

<section id="addSUBeventpage">
    <h2>Enter Sub-Event Information</h2>
    <form id="addeventform" method="post" asp-action="AddSubEvent">
        <div class="form-group">
            <label for="Name">Name</label>
            <input class="stylefield" type="text" asp-for="Subevent.Name" class="form-control" id="Name" name="Name" placeholder="Enter subevent name">
        </div>

        <div class="form-group">
            <label for="Description">Description</label>
            <textarea class="stylefield" asp-for="Subevent.Description" class="form-control" id="Description" name="Description" placeholder="Enter description"></textarea>
        </div>

        <div class="form-group">
            <label for="SubEventType">SubEvent Type</label>
            <input class="stylefield" asp-for="Subevent.SubEventType" type="text" class="form-control" id="SubEventType" name="SubEventType" placeholder="Enter sub event type">
        </div>

        <div class="form-group">
            <label for="EstimatedAttendance">Estimated Attendance</label>
            <input class="stylefield" asp-for="Subevent.EstimatedAttendance" type="number" class="form-control" id="EstimatedAttendance" name="EstimatedAttendance" placeholder="Enter estimated attendance">
        </div>

        <div class="form-group">
            <label for="HostID">Host</label>
            <input class="stylefield" asp-for="Subevent.HostID" type="text" class="form-control" id="HostID" name="HostID" placeholder="Enter Host Name">
        </div>




        <button class="btnstyle" type="submit" class="btn btn-primary">Submit</button>
        <button class="btnstyle" type="button" class="btn btn-secondary" onclick="populateForm()">Populate</button>



    </form>


    <script>
        function populateForm() {
            document.getElementById("Name").value = "Python Workshop";
            document.getElementById("Description").value = "Come enhance your Python Skills!";
            document.getElementById("SubEventType").value = "Workshop";
            document.getElementById("EstimatedAttendance").value = 50;
            document.getElementById("HostID").value = "Ted Lasso";
        }
    </script>
</section>
