@page
@model Capstone.Pages.SubEvents.NewSubEventModel;
@{
}

<link href="~/css/site.css" rel="stylesheet" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap" rel="stylesheet">

<section id="addSUBeventpage">
    <h2>Enter Sub-Event Information</h2>
    <form id="addeventform" method="post" asp-page="NewSubEvent">
        <div class="form-group">
            <label>Name</label>
            <input class="stylefield" type="text" asp-for="Subevent.Name" class="form-control" placeholder="Enter subevent name">
        </div>

        <div class="form-group">
            <label for="Description">Description</label>
            <textarea class="stylefield" asp-for="Subevent.Description" class="form-control"  placeholder="Enter description"></textarea>
        </div>

        <div class="form-group">
            <label for="SubEventType">SubEvent Type</label>
            <input class="stylefield" asp-for="Subevent.SubEventType" type="text" class="form-control"  placeholder="Enter sub event type">
        </div>

        <div class="form-group">
            <label for="EstimatedAttendance">Estimated Attendance</label>
            <input class="stylefield" asp-for="Subevent.EstimatedAttendance" type="number" class="form-control"  placeholder="Enter estimated attendance">
        </div>

        <div class="form-group">
            <label for="HostID">Host</label>
            <select asp-for="Subevent.HostID" class="form-control">
                <option value="">Select Host</option>
                @if (Model.Users != null)
                {
                    foreach (var user in Model.Users)
                    {
                        <option value="@user.UserID">@($"{user.FirstName} {user.LastName}")</option>
                    }
                }
            </select>
        </div>




        <button class="btnstyle" type="submit" class="btn btn-primary">Submit</button>
        <button class="btnstyle" type="button" class="btn btn-secondary" onclick="populateForm()">Populate</button>



    </form>


    <script>
        function populateForm() {
            document.getElementById("Name").value = "Python Workshop";
            document.getElementById("Description").value = "Come enhance your Python Skills!";
            document.getElementById("SubEventType").value = "Workshop";
            document.getElementById("EstimatedAttendance").value = 50;

            // Assuming "Ted Lasso" is a valid entry in your dropdown list
            document.getElementById("HostID").value = "Ted Lasso";
        }
    </script>
</section>
