@page
@model Capstone.Pages.AdminPage.AdminDashboardModel
@{
}
<form asp-page="AdminDashboard">
    <a href="Events/EventApproval" class="btn btn-primary">Events waiting for Approval</a>
    <a href="/AdminReport" class="btn btn-primary">User Information</a>



</form>
