@page
@model Capstone.Pages.AdminPage.AdminDashboardModel
@{
}
<form asp-page="AdminDashboard">
    <button><a class="link" href="/Events/EventApproval" class="btn btn-primary">Events waiting for Approval</a></button>
    <button><a class="link" href="AdminReport" class="btn btn-primary">User Information</a></button>



</form>
