@page
@model Capstone.Pages.Events.AddEventModel
@{
}


<link href="~/css/site.css" rel="stylesheet" />


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap" rel="stylesheet">


<section id="addeventpage">
    <form>
        <h2>Enter Event Information and Request Approval</h2>

    </form>


    <form id="addeventform" asp-page="AddEvent">
        <input class="stylefield" type="text" asp-for="NewEvent.Name" placeholder="Event Name" /><br>
        <input class="stylefield" type="text" asp-for="NewEvent.Address" placeholder="Address" /><br>
        <input class="stylefield" type="text" asp-for="NewEvent.RegistrationCost" placeholder="Registration Cost" /><br>
        <input class="stylefield" type="text" asp-for="NewEvent.EstimatedAttendance" placeholder="Estimated Attendance" /><br>
        <input class="stylefield" type="text" asp-for="NewEvent.StartDate" placeholder="Start Date" /><br>
        <input class="stylefield" type="text" asp-for="NewEvent.EndDate" placeholder="End Date" /><br>
        <input class="stylefield" type="text" asp-for="NewEvent.EventType" placeholder="Event Type" /><br>
        <input class="stylefield" type="text" asp-for="NewEvent.Description" placeholder="Description" /><br>
        <button class="btnstyle" type="submit">Request Approval</button>
        <button class="btnstyle" type="button" onclick="populateForm()">Populate</button>
    </form>

    <script>
        function populateForm() {

            var predefinedValues = {
                Name: "Sample Event",
                Address: "123 Main Street",
                RegistrationCost: "50",
                EstimatedAttendance: "100",
                StartDate: "2023-01-01",
                EndDate: "2023-01-03",
                EventType: "Conference",
                Description: "This is a sample event."
            };


            Object.keys(predefinedValues).forEach(function (key) {
                var inputField = document.querySelector('[name="NewEvent.' + key + '"]');
                if (inputField) {
                    inputField.value = predefinedValues[key];
                }
            });
        }
    </script>
</section>
