@page
@model Capstone.Pages.Events.IndexModel
@{
}
<h2>Events</h2>
<p>Here you will find Events.</p>

<form asp-page="Index">
    <button type="submit"> Create Event</button>
    <a href="/AssignRooms/Index" class="btn btn-primary">Assign Rooms</a>

</form>