@page
@model Capstone.Pages.Events.IndexModel
@{
}
<h2>Manage Events</h2>


<form asp-page="Index">
    <button type="AddEvent"> Create Event</button>
    <button><a class="link" href="/AssignRooms/Index" class="btn btn-primary">Assign Rooms</a></button>
    <button><a class="link" href="/SubEvents/Index" class="btn btn-primary">Manage Sub-Events</a></button>
    <button><a class="link" href="/SubEvents/AddSubActivity" class="btn btn-primary">Add a Sub-Activity</a></button>

</form>