@page
@model Capstone.Pages.Events.IndexModel
@{
}


<form asp-page="Index">
    <button><a class="link" href="./AddEvent" class="btn btn-primary">Create Event</a></button>
    <button><a class="link" href="/AssignRooms/Index" class="btn btn-primary">Assign Rooms</a></button>
    <button><a class="link" href="/SubEvents/Index" class="btn btn-primary">Manage Sub-Events</a></button>
    <button><a class="link" href="/SubEvents/AddSubActivity" class="btn btn-primary">Add a Sub-Activity</a></button>

        </div>
        <div class="row">
            <div class="col-8 shadow p-3 mb-5 bg-body-tertiary rounded">
                <h3>Edit exisiting events</h3>
                <a class="link" href="/AssignRooms/Index" class="btn btn-primary">Assign Rooms</a>
                <a class="link" href="/SubEvents/Index" class="btn btn-primary">Manage Sub-Events</a>
                <a class="link" href="/SubEvents/AddSubActivity" class="btn btn-primary">Add a Sub-Activity</a>
            </div>
        </div>
    </form>
</div>