@page
@model Capstone.Pages.Events.IndexModel
@{
}
<h2>Manage Events</h2>


<form asp-page="Index">
    <button type="submit"> Create Event</button>
    <button><a class="link" href="/AssignRooms/Index" class="btn btn-primary">Assign Rooms</a></button>

</form>