@page
@model Capstone.Pages.Events.EventSignUpModel
@{
}

<link href="~/css/site.css" rel="stylesheet" />

<h2>Event Sign-Up</h2>

<form method="post" asp-page-handler="SignUp">
    <div>
        @if (Model.EventModel != null && Model.EventModel.Events != null)
        {
            foreach (var eventItem in Model.EventModel.Events)
            {
                <div>
                    <h4>@eventItem.Name</h4>
                    <p>@eventItem.Description</p>
                    <p>@eventItem.EventID</p>

                    <button class="btnstyle" type="button" onclick="location.href='@Url.Page("EventSignUp", "SignUp", new { eventId = eventItem.EventID })'">Sign Up</button>

                </div>
                <hr />
            }
        }
    </div>
</form>
